<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Lista de Productos</title>
</head>
<body>
    <h1>Lista de Productos</h1>
    <table border="1" cellpadding="10" cellspacing="0">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre del Producto</th>
                <th>Descripción</th>
                <th>Precio Unitario</th>
                <th>ID Categoría</th>
                <th>ID Proveedor</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% productos.forEach(function(producto) { %>
                <tr>
                    <td><%= producto._id %></td>
                    <td><%= producto.nombre_producto %></td>
                    <td><%= producto.descripcion %></td>
                    <td><%= producto.precio_unitario %></td>
                    <td><%= producto.id_categoria %></td>
                    <td><%= producto.id_proveedor %></td>
                    <td><a href="/productos/<%= producto._id %>">Ver Detalles</a></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>
